; This assumes that IWL binary is
; /go/bin/iwlserve
; and repository data is available at
; /var/ww/iwl
[Unit]
Description=I Write Like
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure

User=iwl
Group=iwl

ExecStart=/go/bin/iwlserve -f /var/www/iwl/data.gobz -templates /var/www/iwl/templates -static /var/www/iwl/static -s localhost:8080
ExecReload=/bin/kill $MAINPID

PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=full

NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

