    <footer id="footer">
        <p><small>&copy; 2010-2016 Coding Robots. <b>Version 12</b> / Sep 2016
        / <a href="https://github.com/coding-robots/goiwl">Source code</a></small></p>

        <p class="footnote">IWL is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon properties including, but not limited to, amazon.com, endless.com, myhabit.com, smallparts.com, or amazonwireless.com.</p>
    </footer>
  </body>
  <!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    (function() {
      var u1 = 'https://stats.codingrobots.com/pwk',
          u2 = 'https://stats.codingrobots.com/pw.js';
      _paq.push(['setTrackerUrl', u1]);
      _paq.push(['setSiteId', '3']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u2; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="https://stats.codingrobots.com/pwk?idsite=3" style="border:0;" alt="" aria-hidden="true" /></p></noscript>
  <!-- End Piwik Code -->
</html>
