    <footer id="footer">
        <p><small>&copy; 2010-2016 Coding Robots. <b>Version 12</b> / Sep 2016
        / <a href="https://github.com/coding-robots/goiwl">Source code</a></small></p>

        <p class="footnote">IWL is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon properties including, but not limited to, amazon.com, endless.com, myhabit.com, smallparts.com, or amazonwireless.com.</p>
    </footer>
  </body>
</html>
