<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{if .Title}}{{.Title}} - {{end}}I Write Like</title>
    {{if .Description}}<meta name="description" value="{{.Description}}">{{end}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png" />
    <link href="/static/css/picnic.min.css" rel="stylesheet">
    <link href="/static/css/site.css" rel="stylesheet">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71330-23', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  <body>

    <nav>
        <a href="/" class="brand">
          <img class="logo" src="/static/iwl.png">
          <span>I Write Like</span>
        </a>

        <!-- responsive-->
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">menu &#8801;</label>

        <div class="menu">
          <a class="pseudo button" href="/">Home</a>

          <a class="pseudo button" href="/about/">About</a>

          <a class="pseudo button" href="http://blog.iwl.me">Blog</a>

          <a class="pseudo button" href="https://twitter.com/iwritelike"><svg style="vertical-align:middle" width="24" height="24" viewbox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z"></svg></a>

          <a class="pseudo button" href="http://www.facebook.com/pages/I-Write-Like/136572043029777"><svg style="vertical-align:middle" width="24" height="24" viewbox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1579 128q35 0 60 25t25 60v1366q0 35-25 60t-60 25h-391v-595h199l30-232h-229v-148q0-56 23.5-84t91.5-28l122-1v-207q-63-9-178-9-136 0-217.5 80t-81.5 226v171h-200v232h200v595h-735q-35 0-60-25t-25-60v-1366q0-35 25-60t60-25h1366z"></svg></a>
        </div>
    </nav>
