{{template "header.html" .}}
{{template "site-info.html" .}}

<div class="container">
  <div class="grid two" style="margin-top: 20px">
    <div>
      <h2>{{.Author}}</h2>
      {{template "about-author.html" .}}
    </div>
    <div style="padding-right: 20px">
      <script type="text/javascript">
        amzn_assoc_placement = "adunit0";
        amzn_assoc_search_bar = "true";
        amzn_assoc_tracking_id = "iwritelike-20";
        amzn_assoc_search_bar_position = "bottom";
        amzn_assoc_ad_mode = "search";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_title = "Books by {{.Author}} on Amazon";
        amzn_assoc_default_search_phrase = "{{.Author}}";
        amzn_assoc_default_category = "Books";
        amzn_assoc_linkid = "49212256b94a7fb6481d2c4ad46f39fc";
      </script>
      <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
  </div>
</div>

{{template "footer.html" .}}
